---
import { Link } from '@/components/ui/Link';
import DocsLayout from '@/layouts/DocsLayout.astro';
import { getCollection } from 'astro:content';

const allDocs = await getCollection('deltaDocs');

const breadcrumb = [
  {
    title: 'Delta Docs',
    active: true,
  },
];
---

<DocsLayout title="Delta Docs" sidebarKey="delta" breadcrumb={breadcrumb}>
  <h1>Delta Docs</h1>

  <p>
    Delta is a high-performance machine learning framework written in Rust,
    designed to provide efficient and scalable tools for classical machine learning tasks.
    Built with a focus on speed and reliability, Delta leverages Rust’s performance and safety
    guarantees to deliver compute-intensive algorithms optimized for CPU, with plans for
    future GPU support. The framework offers a growing suite of classical ML algorithms,
    currently including Linear Regression and Logistic Regression, with simple yet flexible
    APIs to support both beginners and advanced users.
  </p>

  <ul>
    {
      allDocs.map((doc) => (
        <li>
          <Link href={`/delta/docs/${doc.id}`}>{doc.data.title}</Link>
        </li>
      ))
    }
  </ul>
</DocsLayout>
