---
import NebulaRegistryHero from '@/components/sections/nebula/NebulaRegistryHero';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Nebula datasets and models">
  <main>
    <NebulaRegistryHero />
  </main>
</Layout>
