---
import NebulaHero from '@/components/sections/nebula/NebulaHero';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Nebula datasets and models">
  <main>
    <NebulaHero />
  </main>
</Layout>
