---
import DocsLayout from '@/layouts/DocsLayout.astro';

const breadcrumb = [
  {
    title: 'Horizon Docs',
    active: true,
  },
];
---

<DocsLayout title="Horizon Docs" sidebarKey="horizon" breadcrumb={breadcrumb}>
  <h1>Horizon Docs</h1>

  <p>Coming soon...</p>
</DocsLayout>
