---
import GetStartedTabs from './GetStartedTabs';

import * as deltaGetStarted from '@/content/welcome-page/delta-getting-started.md';
import * as nebulaGetStarted from '@/content/welcome-page/nebula-getting-started.md';

const deltaContent = await deltaGetStarted.compiledContent();
const nebulaContent = await nebulaGetStarted.compiledContent();
---

<section class="animate-in fade-in py-20 duration-1000">
  <div class="container">
    <h2 class="mb-6 text-center text-3xl font-bold">Get Started</h2>

    <GetStartedTabs
      client:load
      deltaContent={deltaContent}
      nebulaContent={nebulaContent}
    />
  </div>
</section>
