---
import ContactForm from '@/components/forms/ContactForm';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Contact Us">
  <div class="container mx-auto max-w-3xl py-20">
    <div class="mb-10 text-center">
      <h1 class="mb-3 text-3xl font-bold md:text-4xl">Contact Us</h1>
      <p class="text-xl text-muted-foreground">Submit a message to our team</p>
    </div>

    <ContactForm client:load />
  </div>
</Layout>
