---
import Features from '@/components/sections/home/Features';
import Hero from '@/components/sections/home/Hero';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Welcome">
  <main>
    <Hero />
    <Features />
  </main>
</Layout>
