---
import Features from '@/components/sections/home/Features';
import Hero from '@/components/sections/home/Hero';
import Roadmap from '@/components/sections/home/Roadmap';
import Sponsors from '@/components/sections/home/Sponsors';
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title="Welcome"
  description="A fast, open-source Rust solution for building scalable machine learning models with easy-to-use, customizable APIs and comprehensive tools."
>
  <main>
    <Hero client:load />
    <Features />
    <Roadmap client:load />
    <Sponsors />
  </main>
</Layout>
