---
import Features from '@/components/sections/home/Features';
import GetStartedDelta from '@/components/sections/home/GetStarted/GetStartedDelta.astro';
import Hero from '@/components/sections/home/Hero';
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title="Welcome"
  description="A fast, open-source Rust solution for building scalable neural networks with easy-to-use, customizable APIs and comprehensive ML tools."
>
  <main>
    <Hero client:load />
    <Features />
    <GetStartedDelta />
  </main>
</Layout>
