---
import WelcomeMessage from '../components/sections/home/WelcomeMessage';
import Features from '@/components/sections/home/Features';
import GetStartedDelta from '@/components/sections/home/GetStarted/GetStartedDelta.astro';
import Hero from '@/components/sections/home/Hero';
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title="Welcome"
  description="Delta (Δ) is a high-performance machine learning framework written in Rust, tailored for compute-intensive tasks. Designed with both beginners and experts in mind, it offers intuitive APIs that simplify workflows while remaining flexible for advanced customizations."
>
  <main>
    <WelcomeMessage />
    <Hero />
    <Features />
    <GetStartedDelta />
  </main>
</Layout>
