---
import SevallaLogo from '@/components/icons/SevallaLogo';
import SponsorsHero from '@/components/sections/sponsors/SponsorsHero';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Sponsors">
  <SponsorsHero />

  <section class="animate-in fade-in py-20 duration-1000">
    <div class="mx-auto flex max-w-3xl flex-col items-center gap-6">
      <SevallaLogo className="h-24" />

      <p class="text-muted-foreground text-center text-xl">
        Sevalla is a powerful platform for hosting and managing applications,
        databases, and static sites. They are supporting our project by
        providing free hosting for our website and upcoming services, as well as
        sponsoring us on GitHub. This support helps BlackPortal grow and enables
        us to host future projects like the Nebula registry and more.
      </p>
    </div>
  </section>
</Layout>
