---
import Layout from './Layout.astro';

interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <div class="container">
    <div class="prose prose-sm max-w-full py-4 dark:prose-invert md:py-8">
      <slot />
    </div>
  </div>
</Layout>
