---
import Layout from './Layout.astro';

interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
  hideAnimatedBackground
>
  <div class="container">
    <div class="prose prose-sm dark:prose-invert max-w-full py-4 md:py-8">
      <slot />
    </div>
  </div>
</Layout>
