---
import DocsLayout from '@/layouts/DocsLayout.astro';

const breadcrumb = [
  {
    title: 'Nebula Docs',
    active: true,
  },
];
---

<DocsLayout title="Nebula Docs" sidebarKey="nebula" breadcrumb={breadcrumb}>
  <h1>Nebula Docs</h1>

  <p>Coming soon...</p>
</DocsLayout>
